.note-prize {
	font-size: .8rem;
	text-align: right;
	font-style: italic;
}

.prize-banner {
	margin-top: 3em;

	.prize-message {
		font-weight: bold;
		text-align: center;
		margin-bottom: 1em;
	}

	.prize-container {
		background-color: #ffffff;
		padding: 10px;

		.prize-item {
			list-style: none;
			text-align: center;

			.prize-icon {
				width: 6em;
				height: 3em;
				margin: auto;
			}

			.prize-title {
				font-weight: bold;
				font-size: 13px;
				margin-bottom: 5px;
			}

			.prize-description {
				font-size: 12px;
			}
		}
	}
}