.nav-bar {
	background-color: #FFFFFF;
	height: 3em;
	text-align: center;

	.nav-bar-links {
		list-style: none;
		padding: 0;

		.nav-bar-link {
			display: inline-block;
			margin: 0 1em;
			font-size: 1.1em;
			line-height: 2.5em;
			color: #717171;

			.nav-link {
				color: #717171;

				&:hover {
					color: #FEA24B;
				}

				//&.active {
				//	color: #FEA24B;
				//}
			}
		}
	}
}