.top-bar {
	background-color: #464C4C;
	height: 5em;

	.top-bar-logo {
		background: url(/logo-collapsed.svg) center center no-repeat;
		height: 5em;
		width: 6em;
		float: left;
		padding: 0 2em;
	}

	.top-bar-title {
		height: 3em;
		width: 10em;
		color: #FFFFFF;
		float: left;
		line-height: 4.2em;
		font-size: 1.3em;
	}

	.top-bar-account {
		height: 3em;
		width: 15em;
		color: #FFFFFF;
		float: right;
		line-height: 5.5em;
		text-align: right;

		.top-bar-name {
			float: right;
		}

		.top-bar-account-item {
			float: right;
			margin-right: 2em;
		}

		.top-bar-points-box {
			margin-left: 0.5em;
			padding: 0.1em;
			background-color: #FFA34C;
		}

		.top-bar-logout:hover {
			cursor: pointer;
			color: #FEA24B;
		}
	}
}