.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.fixtures {
	list-style: none;
	padding: 0;
	font-size: 12px;

	.fixture {
		list-style: none;
		background-color: #FFFFFF;
		border-top: 0.1em solid #E5E4E6;
		border-bottom: 0.1em solid #E5E4E6;
		padding: 0.75em 1em;
		margin-bottom: 0.5em;
		font-size: 12px;
		heiaght: 5em;
		overflow: hidden;

		.teams-col {
			height: 100%;
			width: 30%;
			float: left;

			.team {
				height: 100%;
				width: 40%;
				float: left;

				.flag {
					height: 60%;

					.flag-icon {
						height: 2.5em;
						width: 3em;
						margin: auto;
						display: block;
					}
				}

				.name {
					height: 40%;
					text-align: center;
					line-height: 1.4em;
				}
			}

			.versus {
				height: 100%;
				width: 20%;
				float: left;
				text-align: center;
				line-height: 3.5em;
			}
		}

		.wildcard-col {
			height: 3.5em;
			width: 10%;
			float: left;

			.wildcard-holder {
				width: 3em;
				margin: auto;
				text-align: center;
				line-height: 4em;

				&.wildcard-not-editable:hover {
					cursor: default;
				}

				&:hover {
					cursor: pointer;
				}

				.wildcard-icon {
					width: 100%;
				}
			}

			.wildcard-selector {
				text-align: center;
				line-height: 3.5em;
				border: 1px dashed black;
				border-radius: 5px;
				width: 3em;
				margin: auto;
				height: 100%;

				.wildcard-icon {
					width: 100%;
				}
			}

			.wildcard-selector:hover {
				cursor: pointer;
				color: #FFA34C;
				border-color: #FFA34C;
			}
		}

		.prediction-input {
			height: 100%;
			width: 45%;
			float: left;

			&.result {
				height: 100%;
				width: 45%;
				float: left;
			}

			.readonly {
				width: 1.4em;
				height: 100%;
				border: 0 transparent solid;
				margin: auto;
				font-size: 1.5em;
				text-align: center;
				line-height: 2.5em;
			}

			input {
				padding: 0;
				width: 1.4em;
				height: 100%;
				border: 0 transparent solid;
				background-color: #E7E8E7;
				margin: auto;
				display: block;
				font-size: 1.5em;
				text-align: center;

				&:focus {
					outline: none;
				}
			}
		}

		.dash {
			height: 100%;
			width: 10%;
			float: left;
			text-align: center;
			line-height: 2.4em;
			font-size: 1.5em;
		}

		.prediction-col {
			height: 100%;
			width: 25%;
			float: left;
			height: 3.5em;
		}

		.calender-col {
			height: 100%;
			width: 25%;
			float: left;

			.game-in-progress {
				text-align: center;
				line-height: 3.5em;
				margin-top: 3px;
			}

			.calender {
				font-size: 0.7rem;
				width: 4em;
				margin: auto;
				height: 100%;
				text-align: center;
				line-height: 1.7em;
				border: 0.2em solid #E7E8E7;

				.time {
					background-color: #E7E8E7;
					height: 50%;
				}

				.date {
					height: 50%;
				}
			}
		}

		.points-col {
			height: 100%;
			width: 10%;
			float: left;

			.points {
				font-size: 1.5em;
				text-align: center;
				line-height: 2.4em;
			}
		}

		.note-text {
			position: relative;
			font-size: 12px;
			text-align: right;
			float: right;
			color: #6D6C6C;
			margin: -5px -10px -10px;
		}
	}

	.points-total {
		width: 15%;
		text-align: center;
		float: right;
		margin-left: 1em;
	}

	.fixture-header {
		background-color: transparent;
		border: 0px;
		text-align: center;
		font-weight: bold;
		height: 2em;
	}
}

.saving-status {
	@extend .text-muted, .text-xs-right;
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.result-note {
	@extend .text-muted, .text-xs-right;
	font-size: 0.9em;
	margin: 0 0.5em 0.5em;
}