.leader-table-wrapper {
	margin-top: 33px;

	.text-muted {
		font-size: 0.8em;
	}

	.leader-table {
		list-style: none;
		background-color: #FFFFFF;
		border-top: 0.1em solid #E5E4E6;

		padding: 0;
		margin-bottom: 0.5em;
		font-size: 12px;
		overflow: hidden;

		.table-header {
			background-color: #E3E2E4;
			font-weight: bold;
		}

		.arrow-placeholder {
			width: 10%;
			float: left;
			height: 100%;
		}

		.leader-table-up-arrow {
			margin: 1.5em 5%;
			position: absolute;
			background: #0bd50b;
		}
		.leader-table-up-arrow:after {
			bottom: 100%;
			left: 50%;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border: 10px solid rgba(11, 213, 11, 0);
			border-bottom-color: #0bd50b;
		}

		.leader-table-no-change-indicator {
			width: 10px;
			height: 10px;
			border: 2px solid #6D6E6F;
			margin: 30% 65%;
			border-radius: 5px;
		}

		li {
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			border-bottom: 0.1em solid #E5E4E6;
		}

		li:nth-child(4) {
			border-bottom: dashed 0.1em #2b2d2f;
		}

		.table-column-small {
			width: 20%;
			float: left;
		}

		.table-column-medium {
			width: 40%;
			float: left;
		}

		.table-column-large {
			width: 50%;
			float: left;
		}
	}
}