.leader-table-wrapper {
	margin-top: 17px;

	.text-muted {
		font-size: 0.8em;
	}

	.leader-table {
		list-style: none;
		background-color: #FFFFFF;
		border-top: 0.1em solid #E5E4E6;

		padding: 0;
		margin-bottom: 0.5em;
		font-size: 12px;
		overflow: hidden;

		.table-header {
			background-color: #E3E2E4;
			font-weight: bold;
		}

		.arrow-placeholder {
			width: 10%;
			float: left;
			height: 100%;
			padding: 10px;
		}

		.leader-table-up-arrow {
			width: 0px;
			height: 0px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid rgba(67, 202, 67, 0.46);
		}

		.leader-table-down-arrow {
			width: 0px;
			height: 0px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid rgba(255, 0, 0, 0.52);
			margin: auto;
		}

		.leader-table-no-change-indicator {
			width: 10px;
			height: 10px;
			border: 2px solid #B5B5B5;
			border-radius: 5px;
			margin: auto;
		}

		li {
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			border-bottom: 0.1em solid #E5E4E6;

			&.table-row-highlighted {
				background-color: rgba(251, 255, 0, 0.09);
			}

			&.table-row-footer {
				height: 2.5em;
				line-height: 2.5em;
				font-weight: bold;
				cursor: pointer;
				color: #237dcc;
				border-top: 1px solid #eae8e8;
			}

			.table-row-points {
				color: #FEA24B;
				font-weight: 600;
			}
		}

		.table-column-small {
			width: 10%;
			float: left;
		}

		.table-column-medium {
			width: 40%;
			float: left;
		}

		.table-column-large {
			width: 50%;
			float: left;
			white-space: nowrap;
		}
	}
}